<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mot de passe temporaire pour première connexion</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
      color: #333;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 600px;
      margin: 20px auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .header {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #333;
    }
    .content {
      font-size: 16px;
      line-height: 1.6;
    }
    .temporary-password {
      font-weight: bold;
      color: #d9534f;
      padding: 10px;
      background-color: #f0f0f0;
      border-radius: 4px;
      text-align: center;
      margin: 20px 0;
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">Mot de passe temporaire pour première connexion</div>
    <div class="content">
      <p>Bonjour {{user.firstname}} {{user.lastname}},</p>
      <p>Pour votre première connexion à notre système, veuillez utiliser le mot de passe temporaire ci-dessous. Il est important de changer ce mot de passe dès que possible pour des raisons de sécurité.</p>
      <div class="temporary-password">{{password.password}}</div>
      <p>Après votre connexion, vous serez invité à choisir un nouveau mot de passe. Cliquez sur le lien ci-dessous pour accéder à votre compte :</p>
      <p><a href="http://localhost:5173" class="button">Se connecter</a></p>
      <p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>
    </div>
  </div>
</body>
</html>
